<div class="w-full relative">
  <img
    class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto"
    alt="Esland premios a la comunidad hispanohablante de streaming"
    src="/logo-home.svg"
  />
  <video
    src="/video.mp4"
    autoplay
    loop
    muted
    class="w-full h-screen object-cover object-top animate-fade-down animate-duration-1000"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);"></video>
</div>

<video
  src="/video.mp4"
  autoplay
  loop
  muted
  class="absolute -bottom-48 blur-3xl -z-40"></video>
